## Association Rule Mining: Market Basket Analysis

### Question:
### Apriori is a statistical algorithm for implementing associate rule mining, that primarily relies on three components: Life, Support and Confidence. Using this algorithm try to find the rules that describe the relation between each of the products that were brought by the customers as described in store_data.csv.

## Import Libraries

In [2]:
import pandas as pd
import numpy as np 
import csv

In [3]:
words=[]
with open("store_data.csv", mode='r') as data:  #loading the csv data
    raw_data = csv.reader(data, delimiter=',')
    for row in raw_data:
        words.extend(row)

In [4]:
words=list(set(words)) # finding target value 
len(words)

120

In [5]:
words

['sparkling water',
 'parmesan cheese',
 'shrimp',
 'grated cheese',
 'zucchini',
 'cauliflower',
 'turkey',
 'frozen smoothie',
 'pickles',
 'mint',
 'green tea',
 'frozen vegetables',
 'light cream',
 'green grapes',
 'herb & pepper',
 'gluten free bar',
 'french fries',
 'protein bar',
 'whole weat flour',
 'black tea',
 'escalope',
 'cottage cheese',
 'carrots',
 'pet food',
 'honey',
 'oil',
 'almonds',
 'low fat yogurt',
 'tea',
 'shampoo',
 'chicken',
 'rice',
 'bacon',
 'ketchup',
 'water spray',
 'candy bars',
 ' asparagus',
 'shallot',
 'tomatoes',
 'fromage blanc',
 'cookies',
 'red wine',
 'hot dogs',
 'salad',
 'flax seed',
 'chocolate bread',
 'blueberries',
 'salmon',
 'burger sauce',
 'mushroom cream sauce',
 'french wine',
 'eggs',
 'strawberries',
 'champagne',
 'mayonnaise',
 'corn',
 'bramble',
 'cereals',
 'babies food',
 'soup',
 'ground beef',
 'meatballs',
 'clothes accessories',
 'cider',
 'muffins',
 'pepper',
 'mineral water',
 'gums',
 'hand protein bar',
 'cake',
 'barbecue sauce',
 'cooking oil',
 'body spray',
 'avocado',
 'dessert wine',
 'yogurt cake',
 'whole wheat pasta',
 'napkins',
 'vegetables mix',
 'antioxydant juice',
 'fresh bread',
 'spaghetti',
 'milk',
 'soda',
 'eggplant',
 'melons',
 'white wine',
 'chocolate',
 'yams',
 'olive oil',
 'pancakes',
 'cream',
 'chutney',
 'sandwich',
 'nonfat milk',
 'light mayo',
 'energy drink',
 'toothpaste',
 'green beans',
 'ham',
 'whole wheat rice',
 'brownies',
 'salt',
 'magazines',
 'energy bar',
 'mashed potato',
 'mint green tea',
 'oatmeal',
 'strong cheese',
 'asparagus',
 'tomato sauce',
 'butter',
 'spinach',
 'burgers',
 'fresh tuna',
 'pasta',
 'chili',
 'bug spray',
 'tomato juice',
 'extra dark chocolate']

In [6]:
df=pd.read_csv("store_data.csv", delimiter=',',header= None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Creating own table in a usable format

In [7]:
X={}
for i in words:
    X[i]=[0]*7501
df1=pd.DataFrame(X)
df1

,sparkling water,parmesan cheese,shrimp,grated cheese,zucchini,cauliflower,turkey,frozen smoothie,pickles,mint,...,tomato sauce,butter,spinach,burgers,fresh tuna,pasta,chili,bug spray,tomato juice,extra dark chocolate
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
for i in range(7501):
    for j in range(20):
        e =  df.iloc[i,j]
        df1.iloc[i][e] = 1

In [17]:
df1.head()

,sparkling water,parmesan cheese,shrimp,grated cheese,zucchini,cauliflower,turkey,frozen smoothie,pickles,mint,...,tomato sauce,butter,spinach,burgers,fresh tuna,pasta,chili,bug spray,tomato juice,extra dark chocolate
0,0,0,1,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
from mlxtend.frequent_patterns import apriori, association_rules
freq_itemsets = apriori(df1, min_support=0.01,use_colnames = True)

## Pattern by which items where sold

In [14]:
freq_itemsets

      support                               itemsets
0    0.019864                      (parmesan cheese)
1    0.071457                               (shrimp)
2    0.052393                        (grated cheese)
3    0.062525                               (turkey)
4    0.063325                      (frozen smoothie)
..        ...                                    ...
252  0.015865  (chocolate, mineral water, spaghetti)
253  0.010265  (olive oil, mineral water, spaghetti)
254  0.011465   (pancakes, mineral water, spaghetti)
255  0.013998       (chocolate, mineral water, milk)
256  0.010932           (chocolate, spaghetti, milk)

[257 rows x 2 columns]

In [15]:
rules = association_rules(freq_itemsets, metric='confidence',min_threshold=0.46)
rules.head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(frozen vegetables, milk)",(mineral water),0.023597,0.238368,0.011065,0.468927,1.967236,0.005440,1.434136
1,"(ground beef, eggs)",(mineral water),0.019997,0.238368,0.010132,0.506667,2.125563,0.005365,1.543848
2,"(ground beef, milk)",(mineral water),0.021997,0.238368,0.011065,0.503030,2.110308,0.005822,1.532552
3,"(chocolate, ground beef)",(mineral water),0.023064,0.238368,0.010932,0.473988,1.988472,0.005434,1.447937

In [16]:
rules[ (rules['lift'] > 1.2) & (rules['confidence'] > 0.46)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(frozen vegetables, milk)",(mineral water),0.023597,0.238368,0.011065,0.468927,1.967236,0.005440,1.434136
1,"(ground beef, eggs)",(mineral water),0.019997,0.238368,0.010132,0.506667,2.125563,0.005365,1.543848
2,"(ground beef, milk)",(mineral water),0.021997,0.238368,0.011065,0.503030,2.110308,0.005822,1.532552
3,"(chocolate, ground beef)",(mineral water),0.023064,0.238368,0.010932,0.473988,1.988472,0.005434,1.447937